.container {
    background-color: #6278f7;
    text-align: center;
    padding: 2em 2em;
    display: grid;   
    gap: 1em;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: space-around;
}

.rede-sociais{ 
    margin: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:1em;

}

.copyright {
    margin: auto;
    color: #fff;
}
